
@model IEnumerable<ETDS.Models.Siparis>
@{
    ViewBag.Title = "ListSiparis";
    Layout = "~/Views/Shared/_LayoutKurye.cshtml";
}

<div>
    <fieldset>
        <legend>Alınan Siparişler</legend>
        <div class="alert alert-info">Lütfen teslimini yaptığınız siparişleri onaylayın.</div>
        <table class="table table-bordered">
            <tr>
                <th>
                    @Html.DisplayName("Sipariş No")
                </th>
                <th>
                    @Html.DisplayName("Ad")
                </th>
                <th>
                    @Html.DisplayName("Soyad")
                </th>
                <th>
                    @Html.DisplayName("Adres")
                </th>
                <th>
                    @Html.DisplayName("Tarih")
                </th>
                <th>
                    @Html.DisplayName("Durum")
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kullanici.Ad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kullanici.Soyad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kullanici.Adres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tarih)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SiparisDurum.Durum)
                    </td>
                    <td>
                        @Html.ActionLink("Siparişi Onayla", "SiparisOnay", new { id = item.Id }, new { @class = "btn btn-info", data_toggle = "modal", data_target = "#siparisOnay", data_dismiss = "modal", data_backdrop = "static", data_keyboard = "false" })
                    </td>
                </tr>
            }

        </table>
    </fieldset>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="siparisOnay">
    <div class="modal-dialog">
        <div class="modal-body">
            <div class="modal-content">
                @Html.Partial("SiparisOnay", new ETDS.Models.Siparis(), new ViewDataDictionary { { "Id", Model.GetEnumerator() } })
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->