@model ETDS.Models.YemekMenu


@using (Html.BeginForm("IcerikYemekEkle", "Diyetisyen", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="panel panel-default col-md-10">
        <div class="panel-body">
            <div class="editor-field">
                @{ Model.MenuId = (int)ViewData["MenuId"];}
                @Html.HiddenFor(model => model.Id)
                @Html.ValidationMessageFor(model => model.Id)
                @Html.HiddenFor(model => model.MenuId)
            </div>

            <div>
                <label class="control-label col-md-1">Yemek</label>
                <div class="col-md-6">
                    @{ EveTeslimDiyetServis.Models.ETDSContext cont = new EveTeslimDiyetServis.Models.ETDSContext();
                        var yemekList = cont.Yemek.ToList().Select(k => new SelectListItem
                        {
                            Selected = false,
                            Text = k.Ad,
                            Value = k.Id.ToString()
                        }).ToList();
                      
                    }

                    @Html.DropDownList("YemekId", (List<SelectListItem>)yemekList, "Yemek Seçiniz..", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.YemekId)
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">EKLE</button>
                </div>
            </div>

        </div>
    </div>
}
