@model IEnumerable<ETDS.Models.Kullanici>

@{
    ViewBag.Title = "Kullanıcılar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<fieldset>
    <legend>Kullanıcılar</legend>
    <table class="table table-bordered table-striped">
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayName("Ad")
            </th>
            <th>
                @Html.DisplayName("Kullanıcı Adı")
            </th>
            <th>
                @Html.DisplayName("Cinsiyet")
            </th>
            <th>
                @Html.DisplayName("Rol")
            </th>
            <th>
                @Html.DisplayName("E-Posta")
            </th>
            <th>
                @Html.DisplayName("Telefon")
            </th>
            <th>
                @Html.DisplayName("İl")
            </th>
            <th></th>
        </tr>
        @{int rowNo = 0;}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(rowNo += 1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ad) @Html.DisplayFor(modelItem => item.Soyad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KullaniciAd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cinsiyet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rol.Ad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EPosta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gsm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Il.Ad)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "EditKullanici", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Sil", "DeleteKullanici", new { id = item.Id }, new { @class = "btn btn-danger btn-md", data_toggle = "modal", data_target = "#kullaniciSil", data_dismiss = "modal", data_backdrop = "static", data_keyboard = "false" })
                </td>
            </tr>
        }

    </table>
</fieldset>

<div class="modal fade" tabindex="-1" role="dialog" id="kullaniciSil">
    <div class="modal-dialog">
        <div class="modal-body">
            <div class="modal-content">
                @Html.Partial("DeleteKullanici", new ETDS.Models.Kullanici(), new ViewDataDictionary { { "Id", Model.GetEnumerator() } })
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
